@charset "utf-8";
/*初始化*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
	font-family:"微软雅黑", "宋体", Arial;
}
body {
	color:#636363;
	font-family:"微软雅黑", "宋体", Arial;
	font-size:14px;
	height:100%;
	-webkit-text-size-adjust:none;
	background-color:#ffffff;
	line-height:24px;
}
select {
	vertical-align:-2px;
	_vertical-align:-1px;
	margin-right:2px
}
ul, ol, dl {
	list-style:none
}
img {
	border:0 none;
}
table {
}
/***********common***********/
/*wrapper*/
.w1000 {
	width:1000px;
	height:auto;
	margin:0 auto;
}
.main_box {
	width:1000px;
	height:auto;
	margin:0 auto;
}
.top_box {
	padding:0px;
	margin:0px;/*firefox margin-top*/
	display:inline-block;
}
/*link-color*/
a {
	color:#636363;
	text-decoration:none;
}
a:hover {
	color:#636363;
	text-decoration:underline;
}
a.lan {
	color:#006699;
	text-decoration:none;
}
a.lan:hover {
	color:#006699;
	text-decoration:underline;
}
a.grey {
	color:#5e5e5e;
	text-decoration:none;
}
a.grey:hover {
	color:#5e5e5e;
	text-decoration:underline;
}
a.grey2 {
	color:#878787;
	text-decoration:none;
}
a.grey2:hover {
	color:#878787;
	text-decoration:underline;
}
a.tit_blue {
	color:#1fb2fb;
}
a.tit_blue {
	color:#1fb2fb;
}
a.tit_red {
	color:#fc4d4d;
}
a.tit_red:hover {
	color:#fc4d4d;
}
.tit_green {
	color:#83c130
}
.tit_green:hover {
	color:#83c130
}
.a27_box a {
	color:#272727;
}
.a27_box a:hover {
	color:#272727;
}
.a_kefu {
	cursor:pointer;
}
/*font-color*/
.a27_box {
	color:#272727;
}
.cl_red {
	color:#fc4d4d;
}
.cl_blue {
	color:#1fb2fb;
}
.cl_yellow {
	color:#ffe100;
}
.cl_27 {
	color:#272727;
}
/*background-color*/
.bg_black {
	background-color:#272727;
}
.bg_white {
	background-color:#fff;
}
.bg_blue {
	background-color:#1fb2fb;
}
.bg_yellow {
	background-color:#ffe100;
}
.bg_red {
	background-color:#fc4d4d;
}
.bg_green {
	background-color:#83c130;
}
.none {
	display:none;
}
/*overflow*/
.ofh {
	overflow:hidden;
}
.ofh_x {
	overflow-x:hidden;
}
.ofh_y {
	overflow-y:hidden;
}
/**margin**/
.m_auto {
	margin:0 auto;
}
.mt5 {
	margin-top:5px;
}
.mt10 {
	margin-top:10px;
}
.mt15 {
	margin-top:15px;
}
.mt20 {
	margin-top:20px;
}
.mt30 {
	margin-top:30px;
}
.mr0 {
	margin-right:0px;
}
.mr10 {
	margin-right:10px;
}
.mr20 {
	margin-right:20px;
}
.mb10 {
	margin-bottom:10px;
}
.ml10 {
	margin-left:10px;
}
.ml20 {
	margin-left:20px;
}
/*border-color*/
.border_box {
	border:1px solid #e8e8e8;
	height:100%;
}
.border_redbox {
	border:1px solid #fc4d4d;
	height:100%;
}
.border_bluebox {
	border:1px solid #1fb2fb;
	height:100%;
}
.bt_none {
	border-top:none;
}
.bb_none {
	border-bottom:none;
}
.bl_none {
	border-left:none;
}
.br_none {
	border-right:none;
}
.bt_blue {
	border-top:1px solid #1fb2fb;
}
.bt_red {
	border-top:1px solid #fc4d4d;
}
.bt_black {
	border-top:1px solid #272727;
}
.bt_green {
	border-top:1px solid #83c130;
}
.bt_grey {
	border-top:1px solid #e8e8e8;
}
.bt_yellow {
	border-top:1px solid #ffe100;
}
.bb_red {
	border-bottom:1px solid #fc4d4d;
}
.bb_grey {
	border-bottom:1px solid #e8e8e8;
}
.bb_black {
	border-bottom:1px solid #272727;
}
.clear {
	clear:both;
	height:0;
	font-size:0px;
	line-height:0px;
	height:0px;
	width:0px;
	padding:0px;
	margin:0px;
}
/*top_nav*/
.top_nav {
	width:100%;
	height:40px;
	line-height:40px;
}
.top_nav .home {
	float:left;
	padding-right: 22px;
	border-right: 1px #515151 solid;
	border-left: 1px #515151 solid;
	padding-left: 10px;
}
.top_nav .home a {
	font-size:16px;
	color:#fff;
	font-family:"微软雅黑";
	padding-left:45px;
	background:url(../../../../templets/style/img/home.png) left no-repeat;
	height:40px;
	font-weight:bold;
	display:inline-block;
}
.top_nav .top_nav_tel {
	width:154px;
	margin-left:26px;
	font-weight:bold;
	color:#fff;
	font-size:18px;
	height:40px;
	line-height:44px;/*padding-left:34px;background:url(../images/top_nav-tel.png) no-repeat left center;*/
	float:left;
}
.top_nav a.top_nav_ask {
	display:block;
	float:left;
	text-align:center;
	height:20px;
	line-height:18px;
	padding:0px 10px;
	margin-top:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior:url(iecss3.htc) /*圆角*/;
	background:url(../../../../templets/style/yuanjiao/top_lianxi_03.png) no-repeat;
}
.top_nav .top_nav_list {
	width:350px;
	float:right;
	border-left:1px solid #515151;
}
.top_nav .top_nav_list li {
	float:left;
	display:inline;
}
.top_nav .top_nav_list li a {
	display:block;
	color:#eaeaea;
	border-right:1px solid #515151;
	width:69px;
	text-align:center;
}
.top_nav .top_nav_list li a:hover {
	color:#fff;
}
/*head*/
.head {
	width:100%;
	border-bottom:1px solid #272727;
	height:auto;
}
.head_bb_none {
	border-bottom:none;
}
.head a.logo {
	width:190px;
	display:block;
	margin-top:28px;
	padding-left:20px;
	float:left;
}
.head a.logo2 {
	width:190px;
	display:block;
	margin-top:18px;
	padding-left:20px;
	float:left;
}
.head .search_box {
	width:410px;
	float:left;
	padding-top:20px;
	display:none;
	height:76px;
	margin-left:64px;
}
.search_box .search {
	height:34px;
	width:410px;
}
.search_box .search .shuru {
	width:306px;
	height:30px;
	line-height:30px;
	display:block;
	border:1px #ffd700 solid;
	color:#979797;
	padding-left:10px;
	background-color:#fff;
	float:left;
	display:inline;
}
.search_box .search .sub {
	width:82px;
	display:block;
	height:32px;
	background:#ffe100;
	float:left;
	border:none;
	padding:0px;
	display:inline;
	cursor: pointer;
}
.search_box .search .sub:hover {
	background:#ffea4b;
}
.search_box .search_list {
	font-size:12px;
}
.search_box .search_list li {
	float:left;
	margin-right:14px;
	display:inline;
}
.search_box .search_list li a {
	color:#878787;
}
.search_box .search_list li a:hover {
}
.head .logo_text {
	float:right;
	width:210px;
	text-align:right;
	padding-top:24px;
}
.head .logo_text2 {
	float:right;
	width:210px;
	text-align:right;
	padding-top:24px;
	background:url(../images/ico_tel_b.png) no-repeat 50px 30px;
}
.head .logo_text2 .text {
	font-size:18px;
}
/*side_bar*/
.head .side_bar {
	height:40px;
	width:210;
	float:left;
	margin-top:20px;
	position:relative;
	z-index:100;
}
.side_bar .side_bar_title {
	height:40px;
	width:184px;
	padding-left:26px;
	background:url(../images/side_bar_baijian.png) no-repeat 180px center;
	background-color:#272727;
	color:#fff;
	font-weight:bold;
	font-size:18px;
	line-height:40px;
}
.side_bar .side_bar_title.hide {
	height:40px;
	width:184px;
	padding-left:26px;
	background:url(../images/side_bar_baijian1.png) no-repeat 180px center;
	background-color:#272727;
	color:#fff;
	font-weight:bold;
	font-size:18px;
	line-height:40px;
}
.side_bar_list {
	width:210px;
	height:361px;
	background:#ffd500;
	position:absolute;
	top:40px;
	display:none;
}
.side_bar_list_box {
	width:170px;
	height:80px;
	background:url(../images/sider_bar_bg.png);
	padding:20px;
}
a.side_bar_list_box_tit1 {
	display:block;
}
a.side_bar_list_box_tit1 {
	font-size:18px;
	font-weight:bold;
	width:170px;
	height:30px;
	line-height:32px;
	background:url(../images/side_bar_heijian.png) no-repeat 160px center;
}
a.side_bar_list_box_tit2 {
	margin-right:8px;
	white-space:nowrap;
}
/*nav*/
ul.nav {
	float:left;
	margin-top:20px;
	height:40px;
}
ul.nav li {
	float:left;
	display:inline;
}
ul.nav li a {
	font-size:16px;
	padding:0px 15px;
	height:40px;
	line-height:40px;
	width:110px;
}
/**floors**/
.floors {
	width:1000px;
	margin:0 auto;
	margin-top:20px;
}
.floor_head {
	height:30px;
	border-bottom:1px solid #272727;
}
.floor_head_bbnone {
	border-bottom:none;
}
.floor_head .floor_head_tit1 {
	font-size:18px;
	font-weight:bold;
}
.floor_head .floor_head_tit1:hover {
	text-decoration:none
}
.floor_head .floor_head_tit1 span.f_ico {
	background:url(../images/f_ico.png) no-repeat left 5px;
	width:34px;
	height:30px;
	line-height:30px;
	display:block;
	text-align:center;
	float:left;
	margin-right:16px;
}
.floor_head .floor_head_tit1 .f_tit {
	float:left;
	height:30px;
	line-height:30px;
}
.floor_head .floor_head_tit1 .f_tit:hover {
	text-decoration:none
}
/***nav_tel***/
.nav_tel {
	margin-top:10px;
	border-top:1px #e8e8e8 solid;
	position:relative;
}
.nav_tel_tit {
	height:36px;
	border-bottom:1px solid #e8e8e8;
}
.nav_tel_tit a:hover {
	text-decoration:none;
	border-bottom:1px solid #fff;
	background:#fff;
}
.nav_tel_tit a.tabs {
	display:block;
	float:left;
	border-right:1px solid #fff;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	height:35px;
	line-height:35px;
	text-align:center;
	width:54px;
	display:inline;
	font-size:14px;
}
.nav_tel_tit a.tabs_last {
	display:block;
	float:left;
	height:35px;
	line-height:35px;
	text-align:center;
	width:64px;
	display:inline;
}
.nav_tel_tit a.current {
	border-bottom:1px solid #fff;
	background:#fff;
	border-right:1px solid #e8e8e8;
	border-left:1px solid #e8e8e8;
	border-top:1px solid #ffe100;
}
.nav_tel_tit a.tabs_first.current {
	border-bottom:1px solid #fff;
	border-right:1px solid #e8e8e8;
	border-left:1px solid #fff;
	border-top:1px solid #ffe100;
	background:#fff;
}
.nav_tel_content_tabs {
	display:none;
	padding:10px 0px;
	min-height:210px;
}
.nav_tel_content_tabs .nav_tel_pic {
	float:left;
	width:296px;
	height:200px;
}
.nav_tel_content_tabs .nav_tel_pic img {
	width:296px;
	height:200px;
}
.nav_tel_content_tabs .nav_tel_text {
	float:left;
	margin-left:30px;
	width:420px;
	font-size:12px;
	padding-top:6px;
}
.nav_tel_content_tabs .fengongsi {
	float:left;
	width:254px;
	padding-top:20px;
	display:none;
}
.nav_tel_content_tabs .fengongsi a {
	margin:0 auto;
	font-size:14px;
	color:#272727;
	border:1px solid #ffe100;
	padding:0 15px;
	display:table;
	text-align:center;
	height:32px;
	line-height:32px;
	margin-top:11px;
	margin-bottom:11px;
	white-space:nowrap;
	background-color:#fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior:url(iecss3.htc) /*圆角*/
}
.nav_tel_massage_box {
	width:410px;
	position:absolute;
	z-index:9999;
	left:314px;
	top:214px;
}
.nav_tel_massage_box .bottom_tel {
	height:34px;
	width:410px;
}
.nav_tel_massage_box .bottom_tel .xingming {
	width:106px;
	height:30px;
	line-height:30px;
	display:block;
	border:1px #ffd700 solid;
	border-right:none;
	color:#979797;
	padding-left:10px;
	background-color:#fff;
	float:left;
	display:inline;
}
.nav_tel_massage_box .bottom_tel .dianhua {
	width:199px;
	height:30px;
	line-height:30px;
	display:block;
	border:1px #ffd700 solid;
	color:#979797;
	padding-left:10px;
	background-color:#fff;
	float:left;
	display:inline;
}
.nav_tel_massage_box .bottom_tel .sub {
	width:82px;
	display:block;
	height:32px;
	background:#ffe100;
	float:left;
	border:none;
	padding:0px;
	display:inline;
	cursor: pointer;
}
.nav_tel_massage_box .bottom_tel .sub:hover {
	background:#ffea4b;
}
/**grey_bottom**/
.grey_bottom {
	width:100%;
	background:#f1f1f1;
	margin-top:30px;
	padding-top:20px;
}
.grey_bottom_box {
	width:998px;
	margin:0 auto;
	border-left:1px solid #c3c3c5;
	border-right:1px solid #fff;
	margin-bottom:30px;
}
.grey_bottom_list {
	width:177px;
	float:left;
	border-right:1px solid #c3c3c5;
	border-left:1px solid #fff;
	padding-left:20px;
	display:inline;
	min-height:136px;
}
.grey_bottom_last {
	padding-right:3px;
}
.grey_bottom_list_tit {
	font-size:18px;
	padding:0px 0px 10px 0px;
}
/*banquan_bottom*/
.banquan_bottom {
	height:34px;
	line-height:34px;
	color:#fff;
	font-size:12px;
	text-align:center;
}
/*type_common*/
.type_head {
	height:60px;
	border-bottom:1px solid #272727;
}
.type_head_tit {
	font-size:18px;
	font-weight:bold;
	height:60px;
	line-height:60px;
	float:left;
	margin-right:28px;
}
.type_head_position {
	height:60px;
	line-height:60px;
	float:left;
}
.type_head_deleteall {
	height:24px;
	padding:0px 20px;
	border:1px solid #ffe100;
	display:block;
	float:right;
	margin-top:20px;
	font-size:12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	behavior:url(iecss3.htc)/*圆角*/
}
.type_head_deleteall:hover {
	background:#ffe100;
	text-decoration:none;
}
.type_head2 {
}
.type_head2_tit {
	font-size:18px;
	font-weight:bold;
	height:40px;
	line-height:40px;
	margin-right:28px;
}
.type_head2_position {
	height:40px;
	line-height:40px;
}
/*分页*/
.pagelist {
	text-align:center;
	height:28px;
	line-height:28px;
	overflow:hidden;
	margin:20px auto 30px;
	font-size:14px;
}
.pagelist a {
	display:inline-block;
	padding:0 8px;
	background:#e8e8e8;
	line-height:28px;
	color:#000;
}
.pagelist a:hover {
	background:#ffe100;
	color:#000;
	text-decoration:none;
}
.pagelist span {
	display:inline-block;
	padding:0 8px;
	line-height:28px;
}
.pagelist .thisclass {
	background:#ffe100;
	color:#000;
}
.pagelist .notcur {
	padding:0;
}
/*arcticle_common*/
.arc_box {
	margin-top:28px;
}
/*arc_left*/
.arc_left {
	width:740px;
	float:left;
}
/*arc_right*/
.arc_right {
	width:250px;
	float:right
}
.arc_right_list {
}
.arc_right_list_tit {
	display:block;
	height:40px;
	line-height:40px;
	padding-left:16px;
:
}
/**arc_sider**/
.arc_sider {
	width:68px;
	border:1px solid #e8e8e8;
	border-bottom:none;
	position:fixed;
	z-index:20;
	background:#fff;
}
.arc_sider a {
	text-align:center;
	display:block;
	height:34px;
	line-height:34px;
	border-bottom:1px solid #e8e8e8;
}
.arc_sider a:hover {
	background:#e8e8e8;
	color:#272727;
	text-decoration:none;
}
.arc_sider a.hover {
	background:#e8e8e8;
	color:#272727;
	text-decoration:none;
}
.paddingBottom {
	height:10px;
	line-height:10px;
	width:100%;
}
.grey_bottom_icp {
	width: 100%;
	margin: 0 auto;
	text-align:center;
	padding-top:20px;
	margin-top: 20px;
	background:#272727;
	color:#fff;
	padding-bottom:40px;
}
.grey_bottom_icp p {
	color:#FFF;
	font-size:16PX;
}
.grey_bottom_icp p a {
	font-size:13px;
	line-height:24px;
	color:#949494;
}
.grey_bottom_icp p span {
	font-size:13px;
	line-height:24px;
	color:#949494;
	padding:0 8px;
}
.lxb-container {
	top:40px !important;
}
#tq_miniChatMiniDiv {
	position:fixed !important;
	right:0 !important;
	bottom:0 !important;
	top:auto !important;
	left:auto !important;
}
.top_nav {
	overflow:inherit !important;
}
.top_nav .top_nav_list li {
	position:relative;
	z-index:999;
}
.top_nav .top_nav_list li .erji {
	width:69px;
	position:absolute;
	top:40px;
	left:-1px;
	background:rgba(39, 39, 39, 0.8);
	display:none;
	border: 1px solid #515151;
	border-top:none;
}
.top_nav .top_nav_list li .erji a {
	border-right:none;
}
.f_link {
	width:1000px;
	margin:0 auto;
	display:table;
	border-top:1px solid #dfdfdf;
	padding-top:10px;
	text-align:center;
}
.f_link li {
	display:inline-block;
	margin:0 5px;
}
.f_link li a {
	font-size:12px;
}
#LXB_CONTAINER_SHOW.lxb-container-btn-show{width:36px !important; bottom:10% !important; top:auto !important;}